
<div>
    <h1>
        holaaaa Usuario {{ user.name }} {{ user.lastName }}
    </h1>

    <h2>Registro de Usuario</h2>
    <form method="POST" action="/users">

        <label for="title">title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="description">description:</label>
        <input type="text" id="description" name="description" required><br>

        <label for="code">code:</label>
        <input type="number" id="code" name="code" required><br>

        <label for="price">price:</label>
        <input type="number" id="price" name="price" required><br>

        <label for="stock">stock:</label>
        <input type="number" id="stock" name="stock" required><br>

        <label for="thumbnail1">thumbnail 1:</label>
        <input type="text" id="thumbnail" name="thumbnail1" required><br>

        <label for="thumbnail2">thumbnail 2:</label>
        <input type="text" id="thumbnail2" name="thumbnail2" required><br>

        <label for="estado">estado:</label>
        <input type="text" id="estado" name="estado" required><br>

        <label for="category">category:</label>
        <input type="text" id="category" name="category" required><br>

        <button type="submit">Registrar</button>
    </form>
</div>
<div>
    <h1> Bienvenido {{user.name}}</h1>
    {{#if isAdmin}}
    {{#each food}}
    <div>
        <p>{{this.title}} {{this.description}} {{this.price}} {{this.stock}} {{this.category}} </p>
    </div>
    {{/each}}
    {{else}}
    <p>No tienes permisos para ver el listado de alimentos</p>
    {{/if}}
</div>
