<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tercera Preentrega</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <div>
         <h1>Tercera Preentrega - Gelabert Francisco - Programación Backend - Comisión 55595 </h1>
        <h2> Lista de Productos en Stock</h2>
        <h3 id="carrito"></h3>
        <h3 id="carritoCantidad"></h3>
        <h3 id="montoTotal"></h3>
        <h3> <strong id="idUsuario">{{_id}}</strong> </h3>
        <h3> <strong>Usuario:</strong> {{name}} {{lastName}} </h3>
        <h3> <strong>Email:</strong> {{email}} </h3>
        <a href="/logout" title="logout">Logout</a>
        <h3> <strong>Rol:</strong> {{rol}}</h3>


        <button class="ver-cart">Ver carrito</button>

        <div class="detail">
            <strong>Total de Páginas:</strong> {{totalPages}}<br>
            <strong>prevPage:</strong> {{prevPage}}<br>
            <strong>nextPage:</strong> {{nextPage}}<br>
            <strong>hasPrevPage:</strong> {{hasPrevPage}}<br>
            <strong>hasNextPage:</strong> {{hasNextPage}}<br>
            {{#if prevLink}}
            <strong>prevLink:</strong> <a href="{{prevLink}}">Anterior</a><br>
            {{/if}}
            {{#if nextLink}}
            <strong>nextLink:</strong> <a href="{{nextLink}}">Siguiente</a><br>
            {{/if}}
        </div>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Disponible</th>
                    <th>Acciones</th> <!-- Nueva columna para los botones -->
                </tr>
            </thead>
            <tbody id="productList">
                {{#each food}}
                <tr id="{{this.code}}">
                    <td>{{this.code}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.stock}}</td>
                    <td>
                        <button class="ver-btn">Ver</button>
                        <button class="agregar-btn">Agregar al carrito</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/cart.js"></script>
</body>

</html>