 <link rel="stylesheet" href="/css/index.css">
<div>
    <h1> Lista de Productos en Stock</h1>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody id="productList">
            {{#each food}}
            <tr id="{{this.code}}">
                <td>{{this.code}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>